<p>Performs a filtering (i.e. a selection) operation over the entire space (database).</p>
<h3>Globbing (i.e. prefix-based filtering)</h3>
<p>You can select documents based on a prefix of their paths, e.g. select all documents starting with &quot;/foo/bar/&quot;
    by using URL &quot;/~search/foo/bar/&quot;. </p>
<h3>Expression-based filtering</h3>
<p>You may add filtering criteria based on document fields in the URI query string. You may add multiple such criteria
    and they will <strong>all</strong> have to match a given document for it to be returned in the search results.</p>
<p>The accepted syntax for a search criteria is on of the following:</p>
<pre><code>
    &lt;field&gt;=[&lt;operator&gt;]&lt;value&gt;
    &lt;cast&gt;(&lt;field&gt;)=[&lt;operator&gt;]&lt;value&gt;
    &lt;cast&gt;(&lt;field&gt;).&lt;modifier&gt;=[&lt;operator&gt;]&lt;value&gt;
</code></pre>
<p>Where:</p>
<ul>
    <li><strong><code>&lt;field&gt;</code></strong>: a dot-separated path of a given field from the document e.g. <code>movies.sf.Terminator</code>.
        You may also use array notation where needed (e.g. if a field&#39;s name contains special characters) such as
        <code>movies.action[&quot;Die Hard&quot;]</code>;
    </li>
    <li><strong><code>&lt;operator&gt;</code></strong>: any one of:
        <ul>
            <li><strong><code>=</code></strong>: field expression must <strong>equal</strong> <code>&lt;value&gt;</code> (default if
                <code>&lt;operator&gt;</code> is not given);
            </li>
            <li><strong><code>!=</code></strong>: field expression must <strong>not equal</strong> <code>&lt;value&gt;</code>;</li>
            <li><strong><code>&lt;</code></strong>: field expression must be <strong>less than</strong> <code>&lt;value&gt;</code>;</li>
            <li><strong><code>&lt;=</code></strong>: field expression must be <strong>less than or equal</strong> to <code>
                &lt;value&gt;</code>;
            </li>
            <li><strong><code>&gt;</code></strong>: field expression must be <strong>greater than</strong> <code>&lt;value&gt;</code>;
            </li>
            <li><strong><code>&gt;=</code></strong>: field expression must be <strong>greater than or equal</strong> to <code>&lt;value&gt;</code>;
            </li>
            <li><strong><code>~</code></strong>: field expression must <strong>match</strong> <code>&lt;value&gt;</code> which is a
                <strong>regular expression</strong>.
            </li>
        </ul>
    </li>
    <li><strong><code>&lt;cast&gt;</code></strong>: given that the stored data is in JSON format which is
        loosely typed,
        UpSpace can not guarantee how filtering comparisons are made (e.g. value <code>11</code> is
        <strong>less</strong> than <code>101</code> is considered as numbers but if considered as strings the
        opposite
        is true). <code>&lt;cast&gt;</code> enables the user to force a filtering comparison to be made using an
        explicit type; valid cast types are (case <strong>insensitive</strong>):
        <ul>
            <li><strong><code>string</code></strong>: compare values lexicographically;</li>
            <li><strong><code>number</code></strong>: compare values numerically;</li>
            <li><strong><code>boolean</code></strong>: interpret values as booleans;</li>
            <li><strong><code>date</code></strong>: interpret values using the JavaScript Date object;</li>
        </ul>
    </li>

    <li><strong><code>&lt;modifier&gt;</code></strong>: casted fields may have a modifier attached which
        performs further modifications of the given document field (currently only <code>string</code> and
        <code>date</code> casts have modifiers);
        <ul>
            <li><strong><code>string</code></strong>:
                <ul>
                    <li><code>length</code>: compare the length of the field&#39;s value (numerically);</li>
                    <li><code>lowercase</code>: lowercases the field&#39;s value before comparison;</li>
                    <li><code>uppercase</code>: uppercases the field&#39;s value before comparison;</li>
                </ul>
            </li>
            <li><strong><code>date</code></strong>:
                <ul>
                    <li><code>year</code>, <code>month</code>, <code>day</code>, <code>hour</code>,
                        <code>minute</code>, <code>second</code>, <code>millisecond</code>: extract the
                        corresponding component of the field (as Date);
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    </li>
    <li><strong><code>&lt;value&gt;</code></strong>: any given value to compare the field expression against; this value
        will be interpreted using the same cast as the one used in the field expression (if given).
    </li>
</ul>
<h3>Notes:</h3>
<ul>
    <li>All criteria (i.e. left and right sides of &#39;=&#39; sign) must be URL encoded.</li>
    <li>The available implemented modifiers are driver-dependent.</li>
</ul>
